<template>
  <div :class="$style.page">
    <textarea
      :class="$style.textarea"
      :value="value"
      @input="handleValueInput"
    />

    <label :class="$style.label">
      Bar color:

      <input
        type="color"
        :value="color"
        @input="handleColorInput"
      />
    </label>

    <VScrollbar
      :class="$style.scrollbar"
      :barColor="color"
    >
      <template v-for="(line, index) in computedValue">
        <p
          v-if="line"
          :key="`line-${index}`"
        >
          {{ line }}
        </p>
      </template>
    </VScrollbar>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';

const color = ref<string>('');
const value = ref<string>(`
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lectus libero, varius nec rhoncus nec, mollis ac orci. Morbi sodales lacus diam, gravida ornare magna convallis dapibus. Pellentesque eget velit mollis, dapibus velit viverra, faucibus erat. Nulla condimentum, est sit amet volutpat eleifend, sapien libero lacinia ligula, eget imperdiet arcu lectus et sem. Donec egestas scelerisque libero molestie ultrices. Maecenas in lacus a lacus luctus imperdiet. Nunc sodales hendrerit ex, sed suscipit lectus volutpat hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
Aenean interdum, lorem quis efficitur facilisis, turpis massa facilisis justo, eget viverra metus elit nec lorem. Vivamus nec commodo quam, quis scelerisque metus. Donec lacus diam, molestie id pharetra eu, vestibulum non massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam quis interdum risus. Aliquam ut suscipit sem, ut malesuada justo. Ut ut mollis lacus, eget hendrerit ligula. Curabitur dapibus molestie tincidunt. Nullam at porttitor augue. Aliquam pharetra neque et neque porttitor imperdiet. Etiam eu velit consectetur, convallis nunc tincidunt, mollis risus. Curabitur efficitur suscipit luctus. Donec mi metus, iaculis ut lectus eget, varius vestibulum nibh. Duis at commodo purus, eget luctus quam. In hac habitasse platea dictumst. Vestibulum at condimentum elit, quis mollis augue.
Nulla placerat luctus augue, ac dictum erat ornare non. Curabitur a tempus dui. Cras dictum neque vel dolor faucibus, et iaculis urna euismod. Fusce consequat lacus metus, porttitor semper ligula sollicitudin non. Pellentesque velit erat, suscipit at mollis sit amet, laoreet eget ligula. In hac habitasse platea dictumst. Integer et nisl auctor, mattis elit id, porttitor ante. Ut cursus vel urna quis volutpat. Proin egestas porta purus, vitae dapibus tellus volutpat at. Vivamus vel nibh finibus, placerat sem quis, rutrum tortor. Proin varius varius justo ac hendrerit. Sed non vehicula massa. Sed nulla nibh, sollicitudin sed magna nec, fermentum interdum enim.
Phasellus sem dolor, volutpat vel elementum eget, semper nec purus. Sed feugiat purus nec auctor sagittis. Duis sodales vel nibh a varius. Duis eget eros est. Phasellus venenatis vitae nibh vel consequat. Nullam sit amet eros at orci fringilla finibus nec eget sem. Aliquam sit amet auctor est. Donec id rhoncus nunc.
Duis sit amet neque nibh. Aenean in laoreet felis. Ut interdum, neque vel hendrerit varius, arcu orci commodo sem, vitae tincidunt magna augue quis libero. Proin varius est a lorem porttitor, id molestie turpis aliquet. Pellentesque suscipit, urna ut eleifend ullamcorper, ipsum nisl ultrices felis, quis viverra est ante congue libero. Sed et mattis justo. Suspendisse non risus id massa semper tincidunt non hendrerit ex. Fusce accumsan arcu et rhoncus gravida. Suspendisse tellus diam, dignissim sit amet aliquam eu, bibendum ut orci. Donec sed justo quam. Morbi eget velit lobortis, condimentum eros et, tincidunt purus.
`);
const computedValue = computed<Array<string>>(
  () => value.value.split('\n')
);

const handleValueInput = (ev: Event) => {
  value.value = (ev.target as HTMLTextAreaElement).value;
};
const handleColorInput = (ev: Event) => {
  color.value = (ev.target as HTMLInputElement).value;
};
</script>

<style lang="scss" module>
.page {
  max-width: 100%;
}

.textarea {
  height: 150px;
  margin-bottom: 1rem;
  resize: vertical;
  width: 100%;
}

.label {
  display: inline-block;
  margin-bottom: 1rem;
}

.scrollbar {
  border: 1px solid;
  max-height: 200px;
  padding: 0.5rem;
}
</style>
