@mixin v-scrollbar {
  &-container {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }

  &-wrapper {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 1;
  }

  &-content {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    width: 100%;
    scrollbar-width: none; // hide scrollbar in FireFox
    -ms-overflow-style: none; // hide scrollbar in IE 11
    -webkit-overflow-scrolling: touch; // Smooth scroll iOS

    // hide scrollbar in safari, chrome and other webkit based browsers
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }

  &-scroll {
    border-radius: $vs-bar-border-radius;
    background: $vs-bar-color;
    cursor: grab;
    opacity: 0;
    position: absolute;
    transition: opacity .25s linear;
    z-index: 50;

    &--y {
      right: 0;
      width: $vs-bar-size;
    }

    &--x {
      bottom: 0;
      height: $vs-bar-size;
    }
  }

  &-container:hover > &-scroll,
  &-container:active > &-scroll {
    opacity: 1;
  }

  &-grabbed {
    cursor: grabbing;
    user-select: none;
  }
}

@if($vs-render-css) {
  .vs {
    @include v-scrollbar;

    @if mixin-exists(custom-v-scrollbar) {
      @include custom-v-scrollbar;
    }
  }
}
